---
import PROYECTOS from "@data/proyectos.js"
import Layout from "src/layouts/Layout.astro"
import Icons from "../../components/Icons.astro"
import { IconName } from "@icons/mapIcons"
import Image from "astro/components/Image.astro"
import CardProject from "src/components/UI/CardProject.astro"
import Trabajemos from "src/components/sections/Trabajemos.astro"

export async function getStaticPaths() {
  return PROYECTOS.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../../src/assets/img-projects/*.{jpeg,jpg,png,gif}"
)

const { entry } = Astro.props
const imagePath = `../../assets/img-projects/${Number(entry.imagen) + 1}.png`
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )

const orderRandom =  [...PROYECTOS].sort(() => Math.random() - 0.5);
const project = orderRandom.splice(0, 3)

---

<Layout title={`${entry.nombre} | Desarrollado por Kewin Barboza`}>
  <main class="container mx-auto mt-5">
    <a class="text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 px-2 py-1" href="/#proyectos">← Volver atras</a>
    <section class="grid grid-cols-1 md:grid-cols-3 gap-10 mb-10">
      <header class="md:col-span-3 rounded-xl overflow-hidden">
        <Image
          class="w-full aspect-video object-cover"
          src={images[imagePath]()}
          alt={`Proyecto ${entry.descripcion}`}
        />
      </header>
      <main class="md:col-span-2">
        <h1 class="dark:text-white text-neutral-800 text-5xl font-medium mb-0">
          {entry.nombre}
        </h1>
        <h2 class="dark:text-white text-neutral-800">
          {entry.descripcion}
        </h2>
        <p class="dark:text-white text-neutral-800 text-xl mt-7 text-pretty">
          {entry.post}
        </p>
      </main>
      <article class="border p-4 rounded-xl border-blue-900 bg-blue-950/30">
        <div class="mb-2 flex flex-col gap-x-3 text-lg font-semibold leading-7">
          <a
            href={entry.url}
            target="_blank"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-blue-500 group-hover:to-cyan-500 hover:text-white text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 w-full text-center bg-gradient-to-br from-cyan-500 to-blue-500 rounded-md bg-opacity-0"
            >
              Ver proyecto
            </span>
          </a>
          {
            !entry.isPrivate && (
              <a
                href={entry.url_repositorio}
                class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
              >
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white w-full text-center dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Ver el código
                </span>
              </a>
            )
          }
        </div>

        <article>
          <p class="dark:text-white text-neutral-800 font-semibold text-xl mb-2 mt-5" >Creadon con</p>
          <div class="flex flex-wrap gap-x-5 gap-y-2 align-baseline justify-items-start">
            {
              entry.lenguajes.map((lenguaje) => (
                <span class="font-medium flex py-2 text-sm gap-x-2 items-center leading-4 text-neutral-900 dark:text-white no-underline">
                  <Icons name={lenguaje as IconName} />
                  {lenguaje}
                </span>
              ))
            }
          </div>
        </article>
      </>
    </section>

    <section class="mt-20 mb-24">
      <h2 class="dark:text-white text-neutral-800 text-2xl font-medium mb-0">
        Otros proyectos creados
      </h2>
      <div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 lg:mt-10">
        {
          project.filter((p) => p.imagen !== "5").map(
            ({ nombre, imagen, descripcion, slug }) => (
              <CardProject slug={`${slug}` } nombre={nombre}, imagen={imagen} descripcion={descripcion} />
            )
          )
        }
      </div>
    </section>

    <section class="mb-36">
      <Trabajemos />
    </section>
  </main>
</Layout>
