---
import Image from "astro/components/Image.astro"
import PROYECTOS from "@/data/proyectos.js"
import PERSONA from "@/data/persona.js"

import Layout from "@/layouts/Layout.astro"
import { IconName } from "@/icons/mapIcons"

import Icons from "@/components/Icons.astro"
import CardProject from "@/components/UI/CardProject.astro"
import Trabajemos from "@/components/sections/Trabajemos.astro"
import ButtonSecondary from "@/components/UI/ButtonSecondary.astro"

export async function getStaticPaths() {
  return PROYECTOS.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img-projects/*.{jpeg,jpg,png,gif}"
)

const { entry } = Astro.props

const imagePath = `/src/assets/${entry.imagen.srcPoster}`

if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )

const orderRandom = [...PROYECTOS].sort(() => Math.random() - 0.5)
const project = orderRandom.splice(0, 2)
---

<Layout title={`${entry.nombre} | Desarrollado por ${PERSONA.nombre}`}>
  <div
    class="w-full mx-auto lg:max-w-3xl md:max-w-3xl my-4 px-4 md:px-0 mt-0 md:mt-10"
  >
    <header>
      <ButtonSecondary href="/#proyectos" title="← Volver atrás" />

      <div class="mt-5 md:mt-15 mb-5 md:mb-10">
        <h1
          class="dark:text-secondary text-primary text-5xl font-medium mb-3 text-pretty"
          transition:name={`title-project-${entry.slug}`}
          transition:animate="fade"
        >
          {entry.nombre}
        </h1>
        <h2
          class="text-foreground dark:text-muted-foreground text-lg text-pretty mb-2"
        >
          {entry.descripcion}
        </h2>
      </div>
      <div class={`${entry.gradient} md:col-span-3 rounded-xl overflow-hidden`}>
        <Image
          class="w-full aspect-video object-cover"
          src={images[imagePath]()}
          alt={`Proyecto ${entry.descripcion}`}
        />
      </div>
    </header>

    <main class="mt-5">
      <p
        class="text-foreground dark:text-muted-foreground text-lg mt-7 text-pretty leading-7"
      >
        {entry.post}
      </p>

      <section class="mb-2 mt-15">
        <p class="dark:text-white text-neutral-800 font-semibold text-2xl mb-5">
          Creado con
        </p>

        <article class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {
            entry.lenguajes.map((lenguaje) => (
              <div class="text-center flex flex-col overflow-hidden items-center p-4 rounded-xl dark:text-slate-300 text-slate-600 custom-shadow">
                <Icons name={lenguaje as IconName} />
                <small class="text-center">{lenguaje}</small>
              </div>
            ))
          }
        </article>
      </section>

      <section class="mb-10 mt-15">
        <p class="dark:text-white text-neutral-800 font-semibold text-2xl mb-5">
          Enlace al proyecto
        </p>

        <a
          target="_blank"
          class="flex w-fit flex-wrap items-center gap-1 text-foreground dark:text-muted-foreground underline underline-offset-4 hover:text-foreground hover:no-underline font-semibold mb-5"
          href={entry.url}>Ver proyecto →</a
        >

        {
          !entry.isPrivate && (
            <a
              target="_blank"
              class="flex w-fit flex-wrap items-center gap-1 text-foreground dark:text-muted-foreground underline underline-offset-4 hover:text-foreground hover:no-underline font-semibold"
              href={entry.url_repositorio}
            >
              Ver el código →
            </a>
          )
        }
      </section>
    </main>

    <article class="mt-20 mb-24">
      <h2 class="dark:text-white text-neutral-800 font-semibold text-2xl mb-5">
        Otros proyectos creados
      </h2>
      <div
        class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mt-5 lg:mt-10"
      >
        {
          project.map(({ nombre, imagen, descripcion, slug, gradient }) => (
            <CardProject
              slug={`${slug}`}
              nombre={nombre}
              imagen={imagen.srcPoster}
              descripcion={descripcion}
              gradient={gradient}
            />
          ))
        }
      </div>
    </article>
    <footer>
      <Trabajemos />
    </footer>
  </div>
</Layout>
