---
import { Image } from "astro:assets"
import PERSONA from "@/data/persona.js"
import ButtonPrimary from "@/components/UI/ButtonPrimary.astro"
import foto from "../../../public/image/foto-5.png"
import { BtnDownloadCv } from "@/components/react/btn-download-cv"

const { nombre, profesion, curriculum, proyectos, carrera } = PERSONA
---

<header
  id="inicio"
  class="scroll-mt-24 w-full mx-auto lg:max-w-4xl md:max-w-3xl md:px-10 md:my-24 my-16"
>
  <div class="max-w-6xl mx-auto">
    <div class="grid md:grid-cols-5 md:gap-15 gap-10 items-center">
      <div class="text-start col-span-3">
        <div class="mb-5 flex gap-2 flex-wrap justify-center md:justify-start">
          <span
            class="inline-flex items-center justify-center rounded-full custom-shadow px-3 py-1 text-lg font-medium backdrop-blur-3xl"
          >
            <span
              class="bg-gradient-to-t bg-clip-text text-transparent from-neutral-950 via-gray-600 to-gray-400 dark:from-primary/30 dark:via-white dark:to-white"
            >
              {carrera}
            </span>
          </span>

          <span
            class="inline-flex items-center justify-center rounded-full custom-shadow px-3 py-1 text-lg font-medium backdrop-blur-3xl"
          >
            <span
              class="bg-gradient-to-t bg-clip-text text-transparent from-neutral-950 via-gray-600 to-gray-400 dark:from-primary/30 dark:via-white dark:to-white"
            >
              +{proyectos} Proyectos
            </span>
          </span>
        </div>
        <h1
          class="flex items-center justify-center md:justify-start font-bold animate-text-gradient mb-2 text-transparent md:text-start text-5xl md:text-5xl lg:text-6xl bg-clip-text bg-gradient-to-br from-primary to-primary/30 dark:from-secondary dark:to-secondary/30"
        >
          {nombre}
        </h1>
        <p
          class="col-span-3 text-pretty font-normal text-foreground dark:text-muted-foreground leading-7 text-xl md:text-start text-center"
        >
          {profesion} con <strong class="font-semibold"
            >+6 años de experiencia</strong
          > trabando para grandes empresas
        </p>

        <div class="mt-10 w-full text-center md:text-start">
          <BtnDownloadCv client:only="react">
            <ButtonPrimary
              slot="fallback"
              title="Descargar CV"
              href={curriculum}
              target="_blank"
            />
          </BtnDownloadCv>
        </div>
      </div>
      <div
        class="flex justify-center items-center w-full h-full bg-gradient-to-b from-blue-900/40 via-blue-100/5 to-blue-50/0 backdrop-blur-3xl md:p-2 col-span-3 md:col-span-2 rounded-4xl"
      >
        <div class="-mt-16 md:-mt-24 mask-b-from-50% mask-b-to-90%">
          <Image
            class="rounded-3xl object-cover aspect-[5/8]"
            src={foto}
            alt={`${nombre} desarrollador FrontEnd`}
            width={325}
            height={325}
          />
        </div>
      </div>
    </div>
  </div>
</header>
