---
import PROYECTOS from "@data/proyectos.js"
import CardProject from "../UI/CardProject.astro"
import CoverProject from "../UI/CoverProject.astro"

const firstProyect = PROYECTOS[5]
---
<CoverProject firstProyect={firstProyect} />

<div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 lg:mt-10">
  {
    PROYECTOS.filter((p) => p.imagen !== "5").map(
      ({ nombre, imagen, descripcion, slug }) => (
        <CardProject slug={`/project/${slug}`} nombre={nombre}, imagen={imagen} descripcion={descripcion} />
      )
    )
  }
</div>
