---
import RECOMENDACIONES from "@data/recomendaciones.js"
---

<section class="grid gap-5 sm:grid-cols-1 md:grid-cols-2">
  {
    RECOMENDACIONES.map(({ nombre, empresa, descripcion, cargo, image }) => (
      <article class="rounded-xl flex flex-col justify-between custom-shadow p-7">
        <main class="flex-auto mb-3">
          <p class="font-base text-lg text-pretty text-primary dark:text-secondary mb-0">
            {descripcion}
          </p>
        </main>
        <footer class="flex items-center mt-2 gap-x-4">
          {image === "" ? (
            <div class="w-14 h-14 bg-accent rounded-full" />
          ) : (
            <img
              src={image}
              class=" aspect-[5/4] object-cover w-14 h-14 rounded-full"
              loading="lazy"
              decoding="async"
              height="36"
              width="36"
              alt={nombre}
            />
          )}

          <div class="">
            <p class="font-semibold font-sans text-primary dark:text-secondary text-xl">
              {nombre}
            </p>
            <p class="font-normal font-sans text-primary dark:text-gray-400 text-sm ">
              {cargo}
            </p>
            <p class=" text-accent text-sm block">{empresa}</p>
          </div>
        </footer>
      </article>
    ))
  }
</section>
