---
import { Image } from "astro:assets"

import EXPERIENCIA from "@/data/experiencia.js"
import PERSONA from "@/data/persona.js"

import Layout from "@/layouts/Layout.astro"
import Title from "@/components/UI/Title.astro"
import Trabajemos from "@/components/sections/Trabajemos.astro"
import ButtonSecondary from "@/components/UI/ButtonSecondary.astro"

import sl from "@/assets/logos-empresas/sl.png"
import lockey from "@/assets/logos-empresas/lockey.png"
import bodyfitness from "@/assets/logos-empresas/bodyfitness.jpg"
import iut from "@/assets/logos-empresas/iut.png"
import careandsafety from "@/assets/logos-empresas/careandsafety.png"

const logos = {
  iut,
  sl,
  lockey,
  bodyfitness,
  careandsafety
}
---

<Layout title={`Experiencia | ${PERSONA.nombre}`}>
  <div
    class="w-full mx-auto lg:max-w-3xl md:max-w-3xl my-4 px-4 md:px-0 mt-0 md:mt-10"
  >
    <header>
      <ButtonSecondary href="/#experiencia" title="← Volver atrás" />
      <Title title="Experiencia" />
    </header>
    <main class="mt-5">
      <ol>
        {
          EXPERIENCIA.map(
            ({ nombre, icono, proyectos, tiempo, cargo, lugar, stack }) => (
              <li class="mb-20">
                <header class="md:flex gap-4 w-full">
                  <div class="p-1 size-16 flex justify-items-center items-center rounded-xl overflow-hidden custom-shadow bg-accent/90 backdrop-blur-[2px] aspect-[5/4]">
                    <Image
                      src={logos[icono]}
                      alt={`${nombre} logo`}
                      class="w-full h-full object-contain"
                    />
                  </div>
                  <div class="md:flex justify-between items-center w-full mt-3 md:mt-0">
                    <div>
                      <div class="flex items-end mb-1 gap-x-2">
                        <h3 class="text-lg md:text-xl font-semibold dark:text-white text-neutral-600">
                          {cargo}
                        </h3>
                        -
                        <p class="text-base text-foreground dark:text-muted-foreground">
                          {nombre}
                        </p>
                      </div>

                      <div class="flex items gap-x-1">
                        {stack.map((item) => (
                          <span class="inline-flex items-center rounded-md border px-1 py-0.5 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap border-transparent bg-muted-foreground/10 text-secondary-foreground align-middle text-xs dark:text-muted-foreground">
                            {item}
                          </span>
                        ))}
                      </div>
                    </div>
                    <div class="mt-4 md:mt-0">
                      <p class="flex items-center italic text-xs text-neutral-800 dark:text-gray-300">
                        {lugar}
                      </p>
                      <time class="block mt-1 md:mt-0 mb-2 text-sm font-normal leading-none text-neutral-800 dark:text-white">
                        {tiempo}
                      </time>
                    </div>
                  </div>
                </header>
                <main class="mb-5">
                  {proyectos.map(({ titulo, año, className }) => (
                    <div
                      class:list={[
                        "py-2 md:py-5 md:grid grid-cols-4",
                        className
                      ]}
                    >
                      <div class=" dark:text-white text-neutral-600 text-base font-medium">
                        {año}
                      </div>
                      <p class="md:col-span-3 text-pretty text-foreground dark:text-muted-foreground leading-7 *:font-medium *:text-foreground  dark:*:text-muted-foreground text-base">
                        <Fragment set:html={titulo} />
                      </p>
                    </div>
                  ))}
                </main>
              </li>
            )
          )
        }
      </ol>

      <Trabajemos />
    </main>
  </div>
</Layout>
