---
import { Image } from "astro:assets"
import type { ImageMetadata } from "astro"

export const prerender = true

interface Props {
  slug: string
  imagen: string
  nombre: string
  descripcion: string
  gradient: string
}

const { slug, imagen, nombre, descripcion, gradient } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img-projects/*.{jpeg,jpg,png,gif}"
)

const imagePath = `/src/assets/${imagen}`
---

<a
  href={slug}
  class="custom-shadow group relative rounded-xl overflow-hidden p-5 flex flex-col justify-between transition-shadow custom-shadow"
>
  <header
    class={`${gradient} group-hover:opacity-30 transition-opacity flex justify-center items-stretch rounded-xl overflow-hidden h-56`}
  >
    <Image
      transition:name={`cover-project-${slug}`}
      src={images[imagePath]()}
      class="object-cover object-bottom transition duration-500 sm:h-full md:scale-11ro0 md:group-hover:scale-100"
      decoding="async"
      alt={`proyecto ${nombre}`}
    />
  </header>
  <main class="flex-auto min-w-full">
    <h2
      class="dark:text-white text-neutral-800 text-xl font-medium mb-0"
      transition:name={`title-project-${nombre}`}
      transition:animate="fade"
    >
      {nombre}
    </h2>
    <p class="text-foreground dark:text-muted-foreground text-md text-pretty">
      {descripcion}
    </p>
  </main>
</a>
